
<div class="header">
    <h2>
      Data ingested from WooCommerce into BigQuery
    </h2>
  </div>
  <table  class="table" *ngIf="loaded" id="users">
  
      <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users ">
        <td *ngFor="let col of columns  ">
          {{user[getKey(col)]}}
        </td>
      </tr>
  </tbody>
    </table>

    
<div class="header">
  <h2>
    Data ingested from ChatWoot into BigQuery
  </h2>
</div>
<table  class="table" *ngIf="loaded" id="users">

    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users ">
      <td *ngFor="let col of columns  ">
        {{user[getKey(col)]}}
      </td>
    </tr>
</tbody>
  </table>