<!-- <button (click)="add()">Add</button>
<button (click)="remove()">remove</button>
<button (click)="gen()">adddd</button> -->
<div class="header">
    <h2>
      Data ingested from WooCommerce into BigQuery
    </h2>

  </div>
  <table  class="table" *ngIf="loaded" id="users">
  
      <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of users ">
      <tr [@enterAnimation]>
        <td *ngFor="let col of columns  ">
          {{user[getKey(col)]}}
        </td>
      </tr>
    </ng-container>
      <!-- <tr [@enterAnimation] *ngFor="let user of users ">
        <td *ngFor="let col of columns  ">
          {{user[getKey(col)]}}
        </td>
      </tr> -->
  </tbody>
    </table>


<div  class="header">
  <h2>
    Historical data from Ecommerce B ingested into BigQuery
  </h2>
</div>
<table  class="table" *ngIf="loaded" id="users">

    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users ">
      <td *ngFor="let col of columns  ">
        {{user[getKey(col)]}}
      </td>
    </tr>
</tbody>
  </table>