<script>
  window.setInterval("reloadIFrame();", 5000);
  
  function reloadIFrame() {
   document.frames["data"].location.reload();
  }
  </script>

<div style="height:100%" fxLayout="column">

  <div   fxLayout="row" fxLayoutGap="0px" fxFlex>
      <div fxFlex >
        <div class="header" >
          Source
          </div>
          <div class="info" >
            Simulated eCommerce platform using Woocommerce<br>
            <ul>
              <li>Step 1 : Create a new user account</li>
              <li>Step 2 : Check out any product using fictitious data</li>
              <li>Step 3 : Request support through live chat</li>
            </ul>
          
            </div>
        <iframe  src="http://34.124.192.167/">
        </iframe>
      </div>
      <div fxFlex>
        <div class="header" >
          Collect
          </div>
          
        <iframe  name="data" src="http://34.143.173.9/data">
        </iframe>
      </div>
      <div fxFlex>
        <div class="header" >
          Transform
          </div>
        <iframe  src="http://34.143.173.9/goldenrecord">
        </iframe>
    </div>
  </div>
</div>

<!-- 
<div style="height:100%">

  <mat-grid-list  cols="3" rowHeight="1:1">
    <mat-grid-tile>           
      <iframe src="https://cdpdemo.cf">
    </iframe></mat-grid-tile>
    <mat-grid-tile>     <iframe  src="http://34.143.173.9/data">
    </iframe></mat-grid-tile>
    <mat-grid-tile>     <iframe  src="http://34.143.173.9/goldenrecord">
    </iframe></mat-grid-tile>
  </mat-grid-list>
</div>
 -->

    <!-- <div style="width: 100%" lass="container">
        <div style="height: 100%"class="row g-0">
          <div class="col-sm">
              
 
          </div>
          <div class="col-sm">
              
  

           

          </div>
          <div class="col-sm">
        

                <iframe  src="http://34.143.173.9/goldenrecord">
                </iframe>
     
            </div>
        </div>
      </div> -->