iframe {
    display:flex;
    height:100%;
    width:100%;
    background-color: rebeccapurple;
}

.header{
    background-color: #4285F4;
    color: white;

    font-size: 25px;
    width: 100%;   
    text-align: center;
}

.info{
    background-color: #F9F9F9;

    height:auto;
    padding: 5px;
    font-size: 17px;
    width: 100%;   
 
}

