<mat-grid-list  cols="3" rowHeight="1080px">
  <mat-grid-tile>           
    <iframe src="https://cdpdemo.cf">
  </iframe></mat-grid-tile>
  <mat-grid-tile>     <iframe  src="http://34.143.173.9/data">
  </iframe></mat-grid-tile>
  <mat-grid-tile>     <iframe  src="http://34.143.173.9/goldenrecord">
  </iframe></mat-grid-tile>
</mat-grid-list>

    <!-- <div style="width: 100%" lass="container">
        <div style="height: 100%"class="row g-0">
          <div class="col-sm">
              
 
          </div>
          <div class="col-sm">
              
  

           

          </div>
          <div class="col-sm">
        

                <iframe  src="http://34.143.173.9/goldenrecord">
                </iframe>
     
            </div>
        </div>
      </div> -->