
<div style="height:100% ; width:2800px; " fxLayout="column">

  <div   fxLayout="row" fxLayoutGap="0px" fxFlex>
      <div fxFlex="15" >
        <div class="header" >
          Guide
          </div>
          <div class="info" >
            <h1 >Retail CDP Demo with Lytics & Tamr</h1>
            <br><b>Tutorial</b><br>
            <ol>
              <li>Create a new user account in simulated ecommerce platform</li>
              <li>Check out any product using fictitious data, enter a disposable email to receive targeted campaign</li>
              <li>Request support through live chat</li>
              <li>Create audience in lytics (New User + Requested Support)</li>
              <li>Activate (Send Voucher to Email)</li>
            </ol>

            <br><b>Use case 1</b><br>
            <ul>
              <li>User A has registered and purchased product from ecommerce A</li>
              <li>User A visited ecommerce B for the first time</li>
              <li>User A identity resolved through data mastering</li>
            </ul>
     

            <br><b>Process</b><br>
            <ol>
              <li>User registration and shopping activites stream to BigQuery using Google Analytics</li>
   
              <li>All datasets in BigQuery including from other ecommerce will be unified using TAMR</li>
              <li>New audience / segmentation is created using LYTICS</li>
              <li>Email campaign assign to selected audience using MailChimp</li>
            </ol>
            <br><b>Reference Architecture</b><br>
            <div >
              <img onclick="window.open(this.src, '_blank');" style='height: 100%; width: 100%; object-fit: contain; padding:15px;' src="./assets/ref.png">
            </div>

     
          
            </div>
      </div>
      <div fxFlex >
        <div class="header" >
          Source <a target="_blank" href="https://cdpdemoportal.tk"><img src="./assets/maximize.svg"  height="25"width="25" fill="white"></a> 
          </div>
        <iframe  frameBorder="0" src="https://cdpdemoportal.tk/">
        </iframe>
      </div>
      <div fxFlex>
        <div class="header" >
          Collect 
          <a target="_blank" href="https://console.cloud.google.com/home/dashboard?project=cdptamrlytics"><img src="./assets/maximize.svg"  height="25"width="25" fill="white"></a>
        </div>
        <iframe frameBorder="0" id="data_wp"  src="https://cdpdemodashboard.tk/data">
        </iframe>
      </div>
      <div fxFlex>
        <div class="header" >
          Transform <a target="_blank" href="http://34.87.0.81:9100"><img src="./assets/maximize.svg"  height="25"width="25" fill="white"></a> 
          </div>
        <iframe id="goldenrecord" frameBorder="0" src="https://cdpdemodashboard.tk/goldenrecord">
        </iframe>
    </div>
    <div fxFlex>
      <div class="header" >
        Analyze & Activate <a target="_blank" href="https://app.lytics.com/login"><img src="./assets/maximize.svg"  height="25"width="25" fill="white"></a> 
        </div>
      <iframe  frameBorder="0" src="https://cdpdemodashboard.tk/goldenrecord">
      </iframe>
  </div>
  </div>
</div>
