iframe {
    display:flex;
    height:100%;
    width:100%;
    background-color: rebeccapurple;
}

#parentBox {
    width:100%;
    height:100%;
    border: 1px dashed grey;
  }
  #bar {
    height: 30px;
    width: 100%;
    background-color: red;
  }
  #content {
    width: 1000px;
  }
  .scrollWrapper {
    width: 100%;
    overflow: auto;
  }